@import "tailwindcss";
@media (max-width: 640px) {
  .navbar-logo {
    height: 2.25rem; /* ~36px */
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .navbar-logo {
    height: 2.75rem; /* ~44px */
  }
}

@media (min-width: 1025px) {
  .navbar-logo {
    height: 3.25rem; /* ~52px */
  }
}
